.main{
    padding-top: 48px;
    width: 70%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: "user result house";
}

@media screen and (max-width:1024px) {
    .main{
        width: 75%;
    }
}

@media screen and (max-width:968px) {
    .main{
        grid-template-areas: 
        "user house"
        "result result";
        width: 85%;
        
    }
}

@media screen and (max-width:500px) {
    .main{
        padding-top: 72px;
        width: 95%;
        row-gap: 48px;
    }
}